.Rproj.user
.Rhistory
.RData
.Ruserdata
.Rprofile

# Ignores entire folders where you keep your datasets
data/
outputs/

# Ignores common data file extensions anywhere in the project
*.csv
*.xlsx
*.rds
*.txt